@font-face {
  	font-family: Bingobongo-Regular;
  	src: url(../fonts/iCiel_Bingobongo.otf);
}
@font-face {
  	font-family: Copperplate;
  	src: url(../fonts/Copperplate.ttf);
}
@font-face {
  	font-family: Copperplate-Bold;
  	src: url(../fonts/CopperplateB.ttf);
}
@font-face {
  	font-family: Poppins-Regular;
  	src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  	font-family: Poppins-Bold;
  	src: url(../fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
  	font-family: Poppins-Medium;
  	src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  	font-family: Poppins-SemiBold;
  	src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
  	font-family: Poppins-Light;
  	src: url(../fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
  	font-family: LucidaGrande;
  	src: url(../fonts/LucidaGrande.ttf);
}