html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
ul{padding-left: 0;list-style: none;}
a, a:hover, a:link{text-decoration: none;display: inline-block;outline: none;}
header .navbar .navbar-collapse ul li a img{height: 27px;}
header .main-header{background-color: #022451;}
header .main-header .header-phone{color: #F40001;font-family: Poppins-Regular;font-size: 20px;line-height: 24px;}
header .main-header .header-phone i{color: #E02020; font-size: 28px;padding-right: 10px;line-height: 59px;}
header .navbar .nav-link{color: #FBFDFF;font-family: Bingobongo-Regular;font-size: 20px;line-height: 24px;text-align: left;}
header .navbar .navbar-nav .nav-item{padding: 10px 20px;}
header .navbar .navbar-nav .nav-item.active a{color:#016DBE;}
.red-button{
	background: linear-gradient(158.14deg, #F33C45 2.66%, #BE0409 82.87%);
	border-radius: 24px;
	padding: 9px 47px 9px 48px;
	font-family: Poppins-SemiBold;
	color: #fff;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	letter-spacing: -0.9px;
    border: 1px solid #F33C45;
}
.red-button:hover{opacity: .7;}
.main-banner{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 880px;
}
.main-banner h1{
	padding-top: 62px;
	text-shadow: 0px 5px 5px #A8A8A8;
	color: #fff;
	font-family: Bingobongo-Regular;
	font-size: 72px;
	line-height: 40px;
	letter-spacing: -4px;
	text-align: center;
}
.main-banner .h1-blue{color:#016DBE;}
.main-banner .h1-black{color:#101010;}
.main-banner .h1-red{color:#f40001;}
.main-banner .banner-content{position: absolute;width: 100%;}
.main-banner h3{
	color: #000000;
    font-family: Copperplate-Bold,serif;
	font-size: 42px;
	letter-spacing: -2.33px;
	line-height: 40px;
	text-align: center;
	font-style: normal;
}
.main-banner p{
	color: #000000;
	font-family: Poppins-Medium;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	font-style: normal;
	margin-bottom: 0;
}
.main-banner .mid-logo{text-align: center;}
.main-banner .mid-logo img{height: 199px}
.main-banner .banner-content .inputgroup input{
    padding-top: 9px;
    padding-bottom: 8px;
    border: 2px solid #E02020;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: -21px;
    color: #F40001;
	font-family: Bingobongo-Regular;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: -1.11px;
	line-height: 24px;
	width: 220px;
}
.main-banner .banner-content .inputgroup input:focus,
.main-banner .banner-content .inputgroup button:focus{outline: none;}
.main-banner .banner-content .inputgroup input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  	color: #F40001;
  	opacity: 1; /* Firefox */
}
.main-banner .banner-content .inputgroup input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  	color: #F40001;
}

.main-banner .banner-content .inputgroup input::-ms-input-placeholder { /* Microsoft Edge */
  	color: #F40001;
}
.main-banner .banner-content .inputgroup button{
	position: relative;
	background-image: linear-gradient(117.52deg, #F33C45 0%, #BE0409 100%);
	border: 1px solid #F33C45;
	border-radius: 24px;
	padding: 10px 59px 7px 60px;
	color: #fff;
	font-family: Poppins-Bold;
	font-size: 18px;
	letter-spacing: -0.9px;
	line-height: 27px;
	width: 220px;
}
.main-banner .banner-content .inputgroup .ic-calendar{position: absolute;right: 20px;top:8px;}
.main-banner .banner-content .inputgroup .ic-calendar:before{
	content: "";
	background: url(../images/calendar.png) no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 25px;
}
#home-page{
    background: #F3F8FD url(../images/eiffel-tower.png) no-repeat;
    padding-top: 33px;
    background-position-x: -225px;
    background-position-y: 95px;
}
#reserver, #contact-page{background-color: #F3F8FD;padding-top: 50px;}
#page4{background-color: #fff;padding-top: 50px;}
#page1{
	background-image: url(../images/rectangle.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: 62px;
}
main .tour-header h1{
	color: #016DBE;
	font-family: Bingobongo-Regular;
	font-size: 48px;
	letter-spacing: -2.67px;
	line-height: 63px;
	text-align: center;
	padding-bottom: 21px;
	margin-bottom: 0;
}
main .tour-header h3{
	color: #212121;
	font-family: Copperplate;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 17px;
}
main .tour-content .card-deck .row{margin-right: 0;margin-left: 0;}
main .tour-content .card-deck .row > div{
	margin-right: 45px;
	padding-right: 0;
	padding-left: 0;
	max-width: 360px;
}
main .tour-content .card-deck .row > div:last-child{margin-right: 0;}
main .tour-content .card-deck .card{
	border: none;
	border-radius: 16px;
	margin-left: 0;
	margin-right: 0;
	height: 100%;
	align-items: center;
	padding-top: 16px;
	padding-bottom: 36px;
	width: 100%;
}
main .tour-content .card-deck .card .thumb-img{
    background-size: cover;
    width: 322px;
    height: 220px;
    background-position: center;
    background-repeat: no-repeat;
}
main .tour-content .card-deck .card-body{background-color: #fff;padding: 0;padding-left: 18px;padding-right: 19px;}
main .tour-content .card-deck img:hover{opacity: .7;}
main .tour-content .card-deck .card-body .card-title{
	color: #212121;
	font-family: Copperplate-Bold;
	font-size: 28px;
	letter-spacing: -1.17px;
	line-height: 32px;
	text-align: center;
	margin-bottom: 0;
	padding-top: 21px;
}
main .tour-content .card-deck .card-body .card-text:nth-child(2){
	margin-bottom: 0;
	padding-bottom: 24px;
	color: #B3B3B3;
	font-family: Poppins-Light;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
}
main .tour-content .card-deck .card-body hr{border-color:#EBEBEB;}
.card-text.currency span{
	color: #016DBE;
	font-family: Bingobongo-Regular;
	font-size: 56px;
	line-height: 32px;
}
.card-text.currency{text-align: center;margin-bottom: -16px;}
.card-text.currency span{position: relative;}
.card-text.currency span:after{
	content:"€";
	color: #016DBE;
	font-family: LucidaGrande, sans-serif;
	font-size: 28px;
	letter-spacing: -1.17px;
	line-height: 32px;
	text-align: center;
	position: absolute;
	top:0;
	right:-15px;
}
main .tour-content .card-deck .card-body .card-text.subtitle{
	color: #333333;
	font-family: Copperplate-Bold;
	font-size: 24px;
	line-height: 26px;
	text-align: center;
	margin-bottom: 10px;
}
main .tour-content .card-deck .card-body .card-text.desc{
	color: #333333;
	font-family: Poppins-Medium;
	font-size: 16px;
	line-height: 26px;
	text-align: left;
	margin-bottom: 10px;
}
main .tour-content .card-deck .card-body .card-text.desc.fx-lh{line-height: 24px;}
main .tour-content .card-deck .card-footer{background-color: #fff;border-top: none;padding: 0;}
main .tour-content .card-deck .card-footer a{
	color: #FFFFFF;
	font-family: Poppins-SemiBold;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -0.9px;
	line-height: 22px;
	text-align: center;
	background-image: linear-gradient(117.52deg, #F33C45 0%, #BE0409 100%);
  	border-radius: 24px;
  	padding: 10px 72px 7px 73px;
  	border-color: transparent;
}
main .tour-content .card-deck .card-footer a:hover{opacity: .7;}
main .oval-header{padding-top: 60px;padding-bottom: 30px;}
main .oval-header .flag img{height: 126px;}
main .oval-header h3{
	color: #212121;
	font-family: Copperplate;
	font-size: 24px;
	line-height: 29px;
	padding-top: 15px;
	padding-bottom: 20px;
	text-align: center;
	margin-bottom: 0;
}
main .oval-header h1{
	color: #016DBE;
	font-family: Bingobongo-Regular;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
}
main .oval-content .card{
	border: none;
	background-color: transparent;
	margin-left: 0;
	align-items: center;
}
main .oval-content .card:last-child{margin-right: 0;}
main .oval-content .card .thumb-img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 330px;
	height: 330px;
	border-radius: 50%;
	box-shadow: 15px 8px 0 0 rgba(0, 126, 227, 0.09);
}
main .oval-content .card-body{padding: 0;margin-top: 34px;margin-bottom: 13px;}
main .oval-content .card-body:nth-child(2) > p{padding: 0 30px;}
main .oval-content .card-body h5{
	color: #212121;
	font-family: Copperplate-Bold;
	font-size: 24px;
	letter-spacing: -1px;
	line-height: 32px;
}
main .oval-content .card-body p{
	color: #333333;
	font-family: Poppins-Medium;
	font-size: 16px;
	line-height: 26px;
}
main .oval-content .card-footer{background-color: transparent;border-top: none;}
main .oval-content .card-footer a{
    border: 2px solid #E02020;
    border-radius: 24px;
    color: #E02020;
    font-family: Poppins-SemiBold;
    font-size: 18px;
    letter-spacing: -0.9px;
    line-height: 27px;
    text-align: center;
    background-color: transparent;
    padding: 10px 73px 10px 72px;
}
main .oval-content .card-footer a:hover{
	background-color: #E02020;
	color: #fff;
}
main .slider{padding-top: 63px;}
main .slider h1{
	color: #016DBE;
	font-family: Bingobongo-Regular;
	font-size: 48px;
	letter-spacing: -2.67px;
	line-height: 63px;
	margin-bottom: 33px;
}
main .slider .slick-slide .slide-img{
	width: 360px;
	height: 520px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
main .slider .slick-prev{left:50px;z-index: 1}
main .slider .slick-next{right:50px;z-index: 1}
main .slider .slick-prev::before, 
main .slider .slick-next::before{font-size: 50px;opacity: .9}
main .icon-boxes .first-big img{height: 207px;}
main .icon-boxes .first-big h1{
	color: #016DBE;
	font-family: Bingobongo-Regular;
	font-size: 48px;
	letter-spacing: -2.67px;
	line-height: 60px;
	margin-bottom: 30px;
}
main .icon-boxes .first-big p{
	color: #333333;
	font-family: Poppins-Medium;
	font-size: 16px;
	letter-spacing: -1px;
	line-height: 26px;
	margin-bottom: 52px;
	max-width: 741px;
	margin-right: auto;
	margin-left: auto;
}
main .icon-boxes{background-color: #fff;}
main .icon-boxes .box{margin-bottom: 55px;position: relative;}
main .icon-boxes .box h3{
	color: #212121;
	font-family: Poppins-SemiBold;
	font-size: 24px;
	letter-spacing: -1px;
	line-height: 28px;
	margin-top: 18px;
	margin-bottom: 20px;
}
main .icon-boxes .box p{
	color: #333333;
	font-family: Poppins-Medium;
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 0;
	width: 321px;
}
main .icon-boxes .box > div{
	background-position: center;
	background-repeat: no-repeat;
	height: 180px;
}
main .icon-boxes .box-1::after,
main .icon-boxes .box-2::after,
main .icon-boxes .box-3::after,
main .icon-boxes .box-4::after,
main .icon-boxes .box-5::after,
main .icon-boxes .box-6::after{
    content: "";
    background: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 90px;
    height: 27px;
    display: inline-block;
    position: absolute;
}
main .icon-boxes .box-1::after{
    left: -20px;
    top: 285px;
    transform: rotate(-164deg);
}
main .icon-boxes .box-2::after{
	top: 105px;
	right: 0;
	transform: rotate(42deg);
}
main .icon-boxes .box-3::after{
	top: 275px;
	left: 0;
	transform: rotate(175deg);
}
main .icon-boxes .box-4::after{
	top: 205px;
	left: -50px;
	transform: rotate(-87deg);
}
main .icon-boxes .box-5::after{
	top: 265px;
    right: -20px;
	transform: rotate(108deg)
}
main .icon-boxes .box-6::after{
    top: 170px;
    right: -5px;
	transform: rotate(45deg);
}
main .testimonials{padding-top: 40px; padding-bottom: 50px;}
main .testimonials h1{
	color: #016DBE;
	font-family: Bingobongo-Regular;
	font-size: 48px;
	letter-spacing: -2.67px;
	line-height: 60px;
	margin-bottom: 34px;
}
main .testimonials .testimonial-slide .item{
	position: relative;
	background-color: #FFFFFF;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
    padding: 4em 2em 2em;
    margin: 50px 0 0;
}
main .testimonials .testimonial-slide .slick-dots{
	background-color: #fff;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	padding-top: 15px;
	padding-bottom: 15px;
}
main .testimonials .testimonial-slide .slick-dots li button:before{font-size: 9px;opacity: 1;}
main .testimonials .testimonial-slide .slick-dots li.slick-active button:before{font-size: 12px;color:#E3E3E3;}
main .testimonials .testimonial-slide .item .avatar{
	position: absolute;
	top: -50px;
	left: 0;
	width: 100%;
	text-align: center;
}
main .testimonials .testimonial-slide .item .avatar .img-thumb{
	display: block;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	width: 106px;
	height: 106px;
	border-radius: 50%;
	margin: 0 auto;
}
main .testimonials .testimonial-slide .item .name{
	color: #212121;
	font-family: Copperplate-Bold;
	font-size: 28px;
	letter-spacing: -1.17px;
	line-height: 32px;
	text-align: center;
	margin-bottom: 5px;
}
main .testimonials .testimonial-slide .item .position{
	color: #AFAFAF;
	font-family: Poppins-Medium;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	margin-bottom: 20px;
}
main .testimonials .testimonial-slide .item .description{
	color: #333333;
	font-family: Poppins-Medium;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
}
main .partners{padding-top: 50px;padding-bottom: 50px;}
main .partners ul{
	padding-left: 0;
	list-style: none;
}
main .partners ul li{display: inline-block;}
main .partners ul li img{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(100%);
}
footer .footer-content .mid-logo{
	padding-top: 50px;
	padding-bottom: 50px;
}
footer .footer-content .mid-logo img{
	height: 94px;
}
footer .footer-content nav ul{
	padding-left: 0;
	list-style: none;
}
footer .footer-content nav ul li{display: inline-block;margin-right: 50px;}
footer .footer-content nav ul li a{
	color: #FCFEFF;
	font-family: Bingobongo-Regular;
	font-size: 20px;
	line-height: 27px;
	text-align: left;
}
footer .copyright{
	background-color: #022451;
	padding-top: 20px;
	padding-bottom: 20px;
}
footer .copyright p{
	color: #FFFFFF;
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 36px;
	margin-bottom: 0;
}
footer .copyright .social-link{
	display: inline-block;
	font-size: 20px;
	margin-right: 20px;
	color: #F33C45;
}
/* Page */
/* .page-content{padding-bottom: 50px;} */
.page-header h1{
	text-shadow: 5px 5px #f3f3f3;
	color: #016DBE;
	font-family: Bingobongo-Regular;
	font-size: 72px;
	font-weight: 400;
	letter-spacing: -4px;
	line-height: 40px;
}
.page-content h2{
	color: #016DBE;
	font-family: Poppins-SemiBold;
	font-size: 36px;
	font-weight: 600;
	letter-spacing: -2px;
	line-height: 60px;
}
.page-content h3{
	color: #212121;
	font-family: Copperplate-Bold;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: -1px;
	line-height: 32px;
	padding-bottom: 27px;
}
#page1 .card-body{padding-top: 11px;}
#page1 .card-body .card-title{
	font-family: Poppins-SemiBold;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
	letter-spacing: -0.833333px;
	color: #212121;
}
#page1 .card-body .card-text{
	font-family: Poppins-Light;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	color: #333333;
}
#page1 .card-deck .card hr{margin:0;}
#page1 .card-deck .card .product-img{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0 auto;
	height: 242px;
}
.page-content h2.nos-class{margin-bottom: 27px;margin-top: 98px;}
.page-content .card{
	border-radius: 16px;
  	box-shadow: 0 2px 67px 0 rgba(0, 0, 0, 0.09);
  	background-color: #fff;
  	border: none;
  	padding: 15px;
  	margin-bottom: 50px;
}
.page-content .card-deck .row > div{padding: 0}
/* page2 */
#page2 .page-header {margin-top: 60px; padding-bottom: 41px;}
#page2 .page-content{padding-bottom: 90px;padding-top: 41px;}
.page-content .list-imgs {position: relative;}
.page-content .list-imgs .item{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 259px;
	height: 415px;
	transition: transform .2s;
}
.page-content .list-imgs .item:hover{
	transform: scale(1.3);
}
.page-content .list-imgs .col{padding-left: 0;padding-right:0;}
.page2-content .blue-line{
	display: inline-block;
	background-color: #016DBE;
	width: 40px;
	height: 3px;
}
.page2-content .list-text{
	padding-left: 0;
	list-style: none;
	max-width: 923px;
    margin: 0 auto;
}
.page2-content h3{
	color: #016DBE;
	font-family: Bingobongo-Regular;
	font-size: 24px;
	font-weight: 400;
	line-height: 29px;
	text-transform: uppercase;
	padding-top: 40px;
	letter-spacing: 1px;
}
.page2-content .list-text li{margin-bottom: 20px;}
.page2-content .list-text li::before{
	content: "";
	background: url(../images/tick.png) center no-repeat;
	display: inline-block;
	width: 22px;
	height: 17px;
	background-size: 100%;
	margin-right: 10px;
}
.page2-content .page2-button{padding-bottom: 50px;}
.page2-content .page2-button a{
	background-image: -webkit-linear-gradient(322deg, #F33C45 0%, #BE0409 100%);
	background-image: -o-linear-gradient(322deg, #F33C45 0%, #BE0409 100%);
	background-image: linear-gradient(52deg, #F33C45 0%, #BE0409 100%);
	border-radius: 24px;
	padding: 10px 59px 7px 60px;
	color: #FFFFFF;
	font-family: Poppins-SemiBold;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -0.9px;
	line-height: 22px;
}
.page2-content .page2-button a:hover{opacity: .7;}
.page2-content .box-contact{
	padding: 50px;
	background-color: #fff;
  	border-radius: 8px;
  	box-shadow: 0 11px 55px 10px rgba(0, 0, 0, 0.07), 0 29px 45px 4px rgba(0, 0, 0, 0.08), 0 13px 18px 0 rgba(0, 0, 0, 0.15);
}
.page2-content .box-contact > div:nth-child(2){
	width: calc(100% - 156px);
	margin-left: 50px;
}
.page2-content .box-contact h5{
	color: #E02020;
	font-family: Poppins-SemiBold;
	font-size: 20px;
	line-height: 26px;
}
.page2-content .box-contact p{
	color: #2B292D;
	font-family: Poppins-Regular;
	font-size: 16px;
	line-height: 26px;
}
.page2-content .box-contact a{
	color: #016DBE;
	font-family: Poppins-Medium;
	font-size: 16px;
	line-height: 26px;
	text-decoration: underline;
}
.page4-content .card{
	background-color: transparent;
	box-shadow: none;
	padding: 0;
	position: relative;
}
.page4-content .card:after{
	content: "";
	background-image: url(../images/arrow.png);
	background-size: contain;
	width: 88.56px;
	height: 26.04px;
	display: block;
	position: absolute;
}
.page4-content .card.arrow-img:after{
	transform: rotate(175deg);
	right: -40px;
	bottom: 0;
}
#page4 .card .card-header{
	background-color: transparent;
	border-bottom: none;
}
.page4-content .card .ft-img{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: auto;
	margin-left: auto;
	height: 233px;
}
.page4-content .card .card-body img{height: 49px;width: auto;}
.page4-content .card .card-body p:first-child{margin-bottom: 0;padding-top: 15px;padding-bottom: 15px}
.page4-content .card .card-body p:nth-child(2){
	color: #016DBE;
	font-family: Bingobongo-Regular;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: -1.33px;
	line-height: 29px;
}
.page4-content .card .card-body p:last-child{
	color: #333333;
	font-family: Poppins-Medium;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
}
.page4-content .gray-line{
	display: inline-block;
	background-color: #E3E3E3;
	width: 321px;
	height: 1px;
}
.page4-content .map-grid{padding-top: 36px;}
.page4-content .map-grid .map-text{max-width: 435px;}
.page4-content .map-grid .map-text:first-child{
	color: #333333;
	font-family: Poppins-SemiBold;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
}
.page4-content .map-grid .map-text:last-child{
	color: #333333;
	font-family: Poppins-Regular;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
}
.page4-content .map-grid .map-car{
	background-repeat: no-repeat;
	background-size: contain;
	height: 350px;
}
.gallery-list{padding-top: 50px;padding-bottom: 100px;}
.box-beer{max-width: 1034px;margin:0 auto 72px;}
.box-beer .row > div{padding: 0;}
.box-beer .card, .box-beer .card-header{padding: 0;border-radius: 0;margin-bottom: 0;}
.box-beer .card > hr{
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 13px;
	margin-bottom: 23px;
}
.box-beer .thumb-img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 409px;
}
.box-beer .icon-beer{
	background-image: url(../images/icon-beer.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 161px;
	height: 161px;
	margin-left: auto;
	margin-right: auto;
}
.box-beer .card .card-body{padding: 0;}
.box-beer .card .card-body p{margin-bottom: 0;}
.box-beer .card .card-body p:first-child{
	color: #212121;
	font-family: Copperplate-Bold;
	font-size: 28px;
	letter-spacing: -1.17px;
	line-height: 32px;
}
.box-beer .card .card-body p:nth-child(2){
	color: #B2B2B2;
	font-family: Poppins-Light;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 24px;
}
.box-beer .card .card-footer{background-color: transparent;border-top:none;padding-top: 0;padding-bottom: 40px;}
.box-beer .card .card-footer a{
	font-family: Poppins-SemiBold;
	font-size: 18px;
	letter-spacing: -0.9px;
	line-height: 27px;
}
.box-beer .card .card-footer a:hover{color: #fff;}
/* change style calendar */
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-icon{
	color: #488DFF;
	background-color: #FFFFFF;
	border-radius: 100%;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.12);
	width: 30px;
	height: 30px;
}
.pignose-calendar .pignose-calendar-top{box-shadow: none;border-bottom: 1px solid #F4F4F4;}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-month{
	text-transform: capitalize;
	color: #016DBE;
	font-family: Poppins-SemiBold;
	font-size: 20px;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-year{
	color: #0D256E;
	font-family: Poppins-Regular;
	font-size: 14px;
}
.pignose-calendar .pignose-calendar-header .pignose-calendar-week{
	color: #B2B2B2;
	font-family: Poppins-Regular;
	font-size: 11px;
	font-weight: 400;
	line-height: 13px;
	opacity: 0.4979306175595238;
}
.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sat, 
.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sun{color: #B2B2B2;}
.pignose-calendar .pignose-calendar-unit{line-height: normal;}
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-active a{
	background-color: #016DBE;
	box-shadow: none;
}
.pignose-calendar .pignose-calendar-unit a,
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-disabled a,
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sat a{
  	color: #455997;
	font-family: Poppins-Regular;
	font-size: 14px;
	font-weight: 400;
}
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-disabled a{
	background-color: #fceaea;
  	border-radius: 0;
}
/* reserver-page */
.reserver-page .tour-header h1 img{height: 123px;}
/* contact-page */
#contact-page .contact-content .address-icon img{height: 56px;}
#contact-page .contact-content .flag-icon img{height: 53px;}
#contact-page .contact-content .mid-text{
	color: #000000;
	font-family: Poppins-Regular;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	text-align: center;
}
#contact-page .contact-content .box-info{margin-top: 40px;margin-bottom: 42px;}
#contact-page .contact-content .box-info .card{
	padding: 11px 20px;
	background-color: #FFFFFF;
  	border-radius: 16px;
  	box-shadow: 0 2px 67px 0 rgba(0, 0, 0, 0.09);
}
#contact-page .contact-content .box-info .card a{display: inline-block;width: 50%;}
#contact-page .contact-content .box-info .card:nth-child(2) img{width:48px;height:37px;}
#contact-page .contact-content .box-info .card:last-child img{width:29px;height:52px;}
#contact-page .contact-content .box-info .card-header{border-bottom: none;background-color: transparent;}
#contact-page .contact-content .box-info p{
	font-family: Poppins-Medium;
	font-size: 16px;
	line-height: 26px;
	color: #333;
}
#contact-page .contact-content .box-info p b{
	font-family: Poppins-Bold;
}
#contact-page .contact-content .box-info .card-body{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#contact-page .tour-header h1{
	font-size: 72px;
	line-height: 40px;
	text-align: center;
	letter-spacing: -4px;
}
#contact-page .tour-header h3{
	font-family: Copperplate-Bold;
	font-size: 24px;
	line-height: 40px;
	letter-spacing: -1.33333px;
	color: #000;
}
#map {min-height: 437px;}
#map #content{min-width: 567px;}
#map #bodyContent{padding-top: 30px;padding-bottom: 30px;}
#map #bodyContent img{height: 136px;}
#map #bodyContent h3{
	color: #016DBE;
	font-family: Poppins-Bold;
	font-size: 16px;
	line-height: 19px;
}
#map #bodyContent p{
	color: #333;
	font-family: Poppins-Medium;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 0;
}
#map .gm-style-iw-d{overflow: hidden !important;}
/* faq-content */
#faq-page{margin-top: 62px;margin-bottom: 21px;}
.faq-content{
	margin-top: 32px;
}
.faq-content .faq-contain .text-left{padding-bottom: 20px;}
.faq-content .faq-contain h4{
	color: #212121;
	font-family: Copperplate-Bold;
	font-size: 24px;
	letter-spacing: -1px;
	line-height: 32px;
	margin-bottom: 13px;
}
.faq-content .faq-contain p{
	color: #333333;
	font-family: Poppins-Regular;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 4px;
}
#faq-page .tour-header h1{
	font-size: 72px;
	line-height: 40px;
	text-align: center;
	letter-spacing: -4px;
	padding-bottom: 0;
	margin-bottom: 21px;
}
/* DemiTour_Reserver_Booking */
#reserver-booking{
	background: #F3F8FD url(../images/rectangle.png) no-repeat;
	background-size: 100%;
    padding-top: 15px;
    padding-bottom: 100px;
}
.rsbooking-form .rsbooking-head{
    max-width: 480px;
    margin: 0 auto;
}
.rsbooking-head .progressbar{
	padding-left: 0;
	padding-bottom: 30px;
	list-style: none;
	text-align: center;
}
.rsbooking-head .progressbar::after{content: "";display: block;clear: both;}
.rsbooking-head .progressbar li{
	position: relative;
	float: left;
	width: 33.33%;
}
.rsbooking-head .progressbar li i{
	display: inline-block;
	background-color: #C8C8C8;
	border-radius: 50%;
	width: 60px;
	height: 60px;
}
.rsbooking-head .progressbar li.active i{
	background-color: #016DBE;
}
.rsbooking-head .progressbar li span{
	display: block;
	color: #016DBE;
	font-family: Poppins-SemiBold;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
}
.rsbooking-head .progressbar li.rs1 i::before{
	content:"";
	background: url(../images/f1.png) no-repeat;
	background-size: contain;
	display: block;
    height: 29px;
    background-position: center;
    margin-top: 17px;
}
.rsbooking-head .progressbar li.rs2 i::before{
	content:"";
	background: url(../images/f2.png) no-repeat;
	background-size: contain;
	display: block;
    height: 29px;
    background-position: center;
    margin-top: 17px;
}
.rsbooking-head .progressbar li.rs3 i::before{
	content:"";
	background: url(../images/f3.png) no-repeat;
	background-size: contain;
	display: block;
    height: 29px;
    background-position: center;
    margin-top: 17px;
}

.rsbooking-head .progressbar li.rs2::after,
.rsbooking-head .progressbar li.rs3::after{
    content: '';
    width: 63%;
    height: 4px;
    background-color: #C8C8C8;
    position: absolute;
    left: -32%;
    top: 27px;
}
.rsbooking-head .progressbar li.rs2.active::after,
.rsbooking-head .progressbar li.rs3.active::after{
	background-color: #016DBE;
}
.rsbooking-content{
	background-color: #fff;
	padding: 15px;
}
.rsbooking-content .form-group label,
.rsbooking-content .form-group input,
.rsbooking-content .form-group select,
.rsbooking-content .form-group textarea{
	font-family: Poppins-Regular;
	font-size: 16px;
	line-height: 12px;
	color: #333333;
}
.rsbooking-content .form-group:first-child label,
.rsbooking-content .form-group:nth-child(2) label{
	font-family: Poppins-SemiBold;
	font-size: 16px;
	line-height: 18px;
	color: #333333;
}
.rsbooking-content .form-group label{align-self: center;}
.rsbooking-content .form-group p{
	font-family: Poppins-Regular;
	font-size: 12px;
	line-height: 20px;
	color: #333333;
}
.rsbooking-content .form-group h3{
	font-family: Copperplate-Bold;
	font-size: 24px;
	line-height: 32px;
	color: #212121;
}
.rsbooking-content .form-group input,
.rsbooking-content .form-group select,
.rsbooking-content .form-group textarea{
	background: #FFFFFF;
	border: 1px solid #EDEDED;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0858556);
	border-radius: 4px;
}
.rsbooking-content .form-group .rtext-form{
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 18px;
	color: #E02020;
}
.rsbooking-content .form-group input[type=radio]{
	position: absolute;
	visibility: hidden;
}
.rsbooking-content .form-group .form-check.form-check-inline{
    margin-left: 1.75rem;
    margin-right: 5rem;
}
.rsbooking-content .form-group .form-check label{
	position: relative;
	display: block;
    z-index: 9;
    cursor: pointer;
}
.rsbooking-content .form-group .check{
	display: block;
	position: absolute;
	top: 0;
	left: -30px;
	width: 18px;
	height: 18px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0858556);
	border-radius: 23px;
}
.rsbooking-content .form-group .check:before{
	content: "";
	display: block;
	position: absolute;
	border-radius: 100%;
	width: 10px;
	height: 10px;
	background: #fff;
    top: 4px;
    left: 4px;
}
.rsbooking-content .form-group input[type=radio]:checked ~ .check:before{
	background: #016DBE;
}
.rsbooking-content .table-fm2 thead th{
	border-top: none;
	border-bottom: 5px solid #F3F3F3;	
}
.rsbooking-content .table-fm2 th, .rsbooking-content .table-fm2 td{
	border-top-color: #F3F3F3;
}
.rsbooking-content .table-fm2 tbody th img{height: 52px;}
.input-number-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
	border: 1px solid #EDEDED;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0858556);
	border-radius: 4px;
	max-width: 125px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.input-number-group input[type=number]::-webkit-inner-spin-button,
.input-number-group input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}
.input-number-group .input-group-button {
	line-height: calc(80px/2 - 5px);
}
.input-number-group .input-number {
	width: 40px;
	vertical-align: middle;
	text-align: center;
	outline: none;
	display: block;
	margin: 0;
	border-top: none;
	border-bottom: none;
	border-right: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
}
.input-number-group .input-number,
.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  	background: #FFFFFF;
}
.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
	display: inline-block;
	font-family: Poppins-Regular;
	width: 40px;
	background: #fff;
	color: #333;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
.list-black li,
.list-blue li{
	font-family: Poppins-Regular;
	font-size: 12px;
	line-height: 24px;
	color: #333;
}
.list-blue li{color: #0091FF;}
.rsbooking-content .content-fm{display: none;}
.rsbooking-content .content-fm.active{display: block;}
.rsbooking-content .content-fm3 .fm3-card{max-width: 530px;}
.rsbooking-content .content-fm3 .form-group .fx-pd{padding-left: 0;}
.rsbooking-content .content-fm3 .form-group .row .col .row,.rsbooking-content .content-fm3 .form-group.row{margin-left: 0;}
.rsbooking-content .content-fm3 .fm3-card .form-group{border-bottom: 1px solid #E5E5E8;}
.rsbooking-content .content-fm3 input{
	box-shadow: none;
	border-radius: 0;
	border: none;
}
.rsbooking-content .content-fm3 > .form-group p{
	font-family: Poppins-Regular;
	font-size: 16px;
	line-height: 20px;
	color: #333333;
}
.rsbooking-content .content-fm3 > .form-group:first-child p{
	font-family: Poppins-SemiBold;
	font-size: 16px;
	line-height: 18px;
	color: #333333;
}
.rsbooking-content .content-fm3 > .form-group:first-child p span{color: #016DBE;}
.rsbooking-content .content-fm3 .form-group label{
	padding-left: 0;
	font-family: Poppins-SemiBold;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.533333px;
	color: #000000;
}
.rsbooking-content .content-fm3 .form-group .row .col:first-child{border-right: 1px solid #E5E5E8;}
.rsbooking-content .content-fm3 .form-group.row{margin-right: 0;}
.day-info{
	font-family: Poppins-SemiBold;
	font-size: 36px;
	line-height: 54px;
	color: #016DBE;
}
.day-status span{
	font-family: Poppins-SemiBold;
	font-size: 16px;
	line-height: 18px;
	color: #333333;
}
.day-status span.available{margin-right: 70px;}
.day-status span:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	margin-right: 9px;
}
.day-status span.available:before{
	background-color: #3D83F9;
	border: 0;
}
.day-status span.not-available:before{
	background-color: #EEA57C;
	border: 0;
}
/* popup */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 10000;
}
.overlay:target {
	display: block;
}
.popup-box {
	margin: 200px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	position: relative;
}
.popup-box h2 {
	margin-top: 0;
	color: #016DBE;
	font-family: Bingobongo-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	letter-spacing: -2px;
	margin-bottom: 0;
}
.popup-box .close {
	position: absolute;
	top: 0;
	right: 10px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.popup-box .close:hover {
	color: #06D85F;
}
.popup-box .content {
	max-height: 30%;
	overflow: auto;
    text-align: center;
    padding: 0 10px;
}
.popup-box .content p{
	font-family: Poppins-Regular;
	font-size: 16px;
	line-height: 20px;
	text-align: left;
}
/* Responsive Web Design */
@media screen and (min-width: 1455px) {
	main .slider .slick-slide .slide-img{width: 100%;}
	main .tour-content .card-deck{margin-right: -30px;margin-left: -30px;}
	main .oval-content .card-deck{margin-right: -30px;margin-left: -30px;}
	#page2 .page-content .list-imgs .item{margin-left: auto;margin-right: auto;}
}
@media (max-width: 991.98px) {
	main .tour-content .card-deck .card{margin-bottom: 20px;}
	main .tour-content .card-deck .card-body .card-text.desc{text-align: center;}
}