<div id="popup-success" class="overlay">
	<div class="popup-box">
		<h2>Felicitations!</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
			<form action="#" method="post" class="form-popup">
				<div class="form-row"><img src="" alt=""/></div>
				<div class="form-row"><p>Vous avez réservé avec succès, nous vous contacterons bientôt pour confirmer les informations.</p></div>
				<div class="form-row"><img src="" alt=""/></div>
			</form>	
		</div>
	</div>
</div>